.topicBody {
    width: 100%;
    margin: 10px auto;
    border: 1px solid rgb(190, 188, 188);
    font-size: 0.9em;
    padding: 10px;
}

.topicHeader {
    font-size: 1.8em;
}

.topicParagraph {
    font-size: 1em;
    width: 75%;
}

.exploreBtn {
    border: 1px black solid;
    margin: 20px 0;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

.coursesList {
    position: relative;
    display: grid;
    margin: 0;  
    width: 100%;
    overflow: hidden;
    list-style: none;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-columns: 0px;
    grid-auto-rows: 0px;
    margin-bottom: 30px;
}

.courseElem {
    width: 100%;
    max-width: 200px;
}

.nextBtn {
    font-size: 30px;
    position: absolute;
    right: -17px;
    top: 15%;
}
